body{
    padding: 30px;
    background-color: #F5DEDD;
}


.container-principal{
    display: flex;
    gap: 20px;
    margin-left: 5%;
}

.card-informacao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFF6F5;
    border-radius: 10%;
    width: 250px;
    height: 100px;
}

.pesquisa{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px;
    gap: 20px;
    padding-bottom:20px ;
}

.doce-pesquisado{
    display: flex;
    font-size: 15px;
    font-weight: bold;
    color: #C78E89;
    padding: 5px;
    width: 600px;
    height: 50px;
}

.adicionar-produto{
    width: 200px;
    height: 30px;
    color: #E5D1D1;
    background-color: #A64452;
}

.tabela-produtos{
    display: flex;
    flex-direction: column;
    
    width: 1000px;
    height: auto;
    background-color: #FFF6F5;
}

.topo-tabela{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 60px;
    
}

.descricao-tabela{
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    background-color: #E5D1D1;
}

.imagem-doce{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    
}

.imagem-doce img{
    width: 60px;
    height: 60px;
}

.itens{
    text-align: center;
    justify-content: center;
    background-color: #FFF6F5;
}

.btn{
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    height: 100px;

}

.container-categoria{
    background-color: #FFF6F5;
    width: 250px;
    height: auto;
}

.tabela-categoria{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.categoria-itens{
    width: 100%;
    display: flex;
}

.categoria{
    padding-right: 100px;
    font-weight: bold;
}

.btn-categoria{
    width: 100px;
    display: flex;
    justify-content: end;
    gap: 10px;
}


/* vou separar os css */

.container-sabor{
    margin-top: 20px;
    background-color: #FFF6F5;
    width: 250px;
    height: auto;
}

.tabela-sabor{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sabor-itens{
    width: 100%;
    display: flex;
}

.sabor{
    padding-right: 100px;
    font-weight: bold;
}

.btn-sabor{
    width: 10px;
    display: flex;
    justify-content: end;
    gap: 10px;
}